h2 = "Background information for #{@request.subject}"

.alert.alert-info 
  p The more details you provide, the easier it will be for the developer to create exactly what you have in mind.

= render 'form'

= link_to 'Back', request_background_informations_path(@request)
