h1.lead Let's get started

.well 
	p
		|
			This guide will help you find the best suited developer for your needs.


= link_to 'Build something new', new_request_path, class: :'btn btn btn-info'

br
br
br
br
br
br
span.muted Features scheduled for our next major release
br
btn.btn.btn-info.disabled Extend an existing app or program
br
br
btn.btn.btn-info.disabled Fix a bug in my codebase
