h1.lead Let's get started

.well 
	p
		|
			This guide will help you find the best suited developer for your needs.


= link_to 'Build something new', new_request_path, class: :'btn btn btn-info'
br
br
btn.btn.btn-info Extend an existing app or program
br
br
btn.btn.btn-info Fix a bug in my codebase
