= link_to 'Code help', new_request_path, class: 'btn'
= nbsp
span Get help with a bug in a existing code base. Bugs, small features enhancements
br
br

= link_to 'Build something new', '#', class: 'btn'
= nbsp
span Build a new app or product
