= link_to 'Code help', new_request_path, class: 'btn'
= nbsp
span Get help with a bug in a existing code base. Bugs, small features enhancements
br
br

p= @request.inspect

= link_to 'Build something new', new_request_background_information_path(@request), class: 'btn'
= nbsp
span Build a new app or product
