= render :partial => 'requests/request', locals: {request: @price_quote.request}
br
br
br


// List all price quotes for the request owner
// = render :partial => 'price_quote', locals: {price_quote: @price_quote}
