.big_font
  font-size: 160px

.border
  border: 1px solid
  @include border-radius(4px)

.carousel
  .item
    height: 240px
    margin-top: 20px
  .image
    margin-right: 10px
  .send_question
    margin-top: -10px
  .bio
    height: 124px
    max-height: 124px
  .previously_answered
    padding-left: 20px
    border-left: 1px solid
  h4
    margin-top: 0

.center
  text-align: center
