ul.comments
  li
    list-style: none
  
  blockquote
    width: 400px
    padding: 10px
    @include border-radius(4px, 4px)


  li:nth-child(odd)
    blockquote
      background-color: lightblue

  li:nth-child(even)
    margin-left: 231px
    blockquote
      background-color: lightgreen

    
