#wizard
  #example-box,
  #info-box
    min-width: 170px
  form
    >span
      float: left
      margin-right: 30px
      margin-bottom: 30px
      height: 130px
  .icon_text
    display: block !important

  .selected
    border: 2px solid 
    border-color: #9CCE71
    margin-right: 26px
    padding: 5px
    @include border-radius(4px)
