/- @feature ||= feature  if feature.present?

.page-header
  = link_to features_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_feature_path(@feature), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing features

//%dl
//  %dt Request:
//  %dd= @feature.request.title
//  %dt Text:
//  %dd= @feature.text
//  %dt Title:
//  %dd= @feature.title
