= simple_form_for(@image, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
  = f.error_notification

  .form-inputs

  .form-actions
    = f.button :submit, :class => "btn-primary"
