h1 Editing feature_request

== render 'form'
- 2.times do |n|
  .span5
    = render 'form',n: n, remote: true, hide_submit: false

= link_to 'Show', @feature_request
'|
= link_to 'Back', feature_requests_path

